.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
    flex-direction: column;

    text-align: center;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @include desktop {
    align-items: baseline;
  }
}
.footer .container {
  text-align: center;
}

.footer__contacts {
  @media screen and(max-width:1199px) {
    margin-bottom: 60px;
  }
  @include desktop {
    display: block;
    text-align-last: left;
  }
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-align: left;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent {
    color: var(--white-color);
  }
}

.adress__item + .adress__item {
  margin-top: 8px;
}
