.page-header {
  border-bottom: 1px solid #ececec;
}

.wrapper {
  display: flex;
  align-items: center;
}

.page-header__сontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
