.site-nav {
  position: relative;
  display: flex;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    min-width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: -1px;
  }
}
